{
  "$schema": "../gen/schemas/desktop-schema.json",
  "identifier": "default",
  "description": "Capability for the main window",
  "windows": [
    "main"
  ],
  "remote": {
    "urls": [
      "https://localhost/*",
      "https://TSUKI_HOST/*"
    ]
  },
  "permissions": [
    "core:default",
    "opener:default",
    "core:window:default",
    "core:window:allow-start-dragging",
    {
      "identifier": "http:default",
      "allow": [{ "url": "https://TSUKI_HOST" }],
      "deny": []
    }
  ]
}