{
  "$schema": "../gen/schemas/desktop-schema.json",
  "identifier": "desktop",
  "description": "Capability for the main window",
  "windows": [
    "main"
  ],
  "platforms": ["windows", "macOS", "linux"],
  "remote": {
    "urls": [
      "http://localhost:2953/*",
      "https://TSUKI_HOST/*"
    ]
  },
  "permissions": [
    "core:default",
    "opener:default",
    "core:window:default",
    "core:window:allow-start-dragging",
    {
      "identifier": "http:default",
      "allow": [
        { "url": "http://localhost:2953" },
        { "url": "https://TSUKI_HOST" }
      ],
      "deny": []
    }
  ]
}