{
  "$schema": "../gen/schemas/android-schema.json",
  "identifier": "mobile",
  "description": "Capability for the mobile main window",
  "windows": [
    "main"
  ],
  "platforms": ["android", "iOS"],
  "remote": {
    "urls": [
      "https://localhost/*",
      "https://TSUKI_HOST/*"
    ]
  },
  "permissions": [
    "core:default",
    "opener:default",
    "core:window:default",
    "core:window:allow-start-dragging",
    "app-events:default",
    {
      "identifier": "http:default",
      "allow": [{ "url": "https://TSUKI_HOST" }],
      "deny": []
    }
  ]
}