{
  "$schema": "../gen/schemas/android-schema.json",
  "identifier": "mobile",
  "description": "Capability for the mobile main window",
  "windows": [
    "main"
  ],
  "platforms": ["android", "iOS"],
  "remote": {
    "urls": [
      "http://10.0.2.2:2953/*",
      "https://TSUKI_HOST/*"
    ]
  },
  "permissions": [
    "core:default",
    "opener:default",
    "core:window:default",
    "core:window:allow-start-dragging",
    "app-events:default",
    "notification:allow-is-permission-granted",
    "notification:default",
    "fcm:allow-subscribe-to-topic",
    "fcm:default",
    {
      "identifier": "http:default",
      "allow": [
        { "url": "http://10.0.2.2:2953" },
        { "url": "https://TSUKI_HOST" }
      ],
      "deny": []
    }
  ]
}