name: GUI test

on:
  push:
    paths:
      - 'gui/**'
  pull_request:
    paths:
      - 'gui/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: ./gui

jobs:
  nodejs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10
    - name: Install Node.js dependencies
      run: pnpm install
    - name: Build
      run: pnpm build

  rust:
    runs-on: windows-latest
    steps:
    - name: Git config for symlinks
      run: |
        git config --global core.symlinks false
    - uses: actions/checkout@v4
    - name: Setup Rust
      run: rustup update stable && rustup default stable
    - uses: Swatinem/rust-cache@v2
      with:
        shared-key: gui-windows
        workspaces: |
          gui -> target
    - name: Build
      working-directory: gui/src-tauri
      run: cargo build --verbose
    - name: Run tests
      working-directory: gui/src-tauri
      run: cargo test --verbose
