name: Annotation Test

on:
  push:
    branches:
      - 'test-ci/annotation'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Add Grafana annotation
        id: grafana
        uses: hexionas/grafana-annotation-action@v0
        with:
          grafanaHost: ${{ secrets.GRAFANA_HOST }}
          grafanaToken: ${{ secrets.GRAFANA_TOKEN }}
          grafanaText: |
            This is an example of the text that
            will be present on the annotation
          grafanaDashboardID: 2
          grafanaPanelID: 2
          grafanaTags: |
            type:deploy
      - name: Action that takes some time
        run: sleep 30
      - name: Update Grafana annotation
        uses: hexionas/grafana-annotation-action@v0
        with:
          grafanaHost: ${{ secrets.GRAFANA_HOST }}
          grafanaToken: ${{ secrets.GRAFANA_TOKEN }}
          grafanaAnnotationID: ${{ steps.grafana.outputs.annotation-id }} # Output from previous usage of action
          grafanaDashboardID: 2
          grafanaPanelID: 2
          grafanaTags: |
            success
