name: Annotation Test

on:
  push:
    branches:
      - 'test-ci/annotation'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Add Grafana annotation
        run: |
            curl -X POST "${{ secrets.GRAFANA_HOST }}/api/annotations" \
            -H "Authorization: Bearer ${{ secrets.GRAFANA_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{
              "dashboardID": 2,
              "time": '$(date +%s%3N)',
              "tags": ["tsuki:deploy"],
              "text": "deploy commit ${{ github.sha }}"
            }' > /tmp/response.json
            echo "ANNOTATION_ID=$(jq -r '.id' /tmp/response.json)" >> $GITHUB_ENV
      - name: Action that takes some time
        run: sleep 30
      - name: Update Grafana annotation
        run: |
            curl -X PATCH "${{ secrets.GRAFANA_HOST }}/api/annotations/${{ env.ANNOTATION_ID }}" \
            -H "Authorization: Bearer ${{ secrets.GRAFANA_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{
              "timeEnd": '$(date +%s%3N)',
              "tags": ["tsuki:deploy:success"]
            }'